* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header #encabezado-azul {
  background-color: #132c7c;
  height: 20vh;
}
header #encabezado-azul img {
  padding: 0.5px;
  margin: 1px;
  margin-bottom: -5px;
  width: 130px;
}
header #encabezado-azul nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: Poppins;
  align-content: center;
  justify-content: center;
  position: relative;
  top: -90px;
}
header #encabezado-azul nav ul li {
  display: inline-block;
}
header #encabezado-azul nav ul li a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  position: relative;
  padding: 2px;
  margin-left: 100px;
}
header #encabezado-azul nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
  border-radius: 10%;
}
header h1 {
  font-family: Poppins;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

.main__index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main__index .h2__index {
  font-family: Poppins;
  font-style: normal;
  text-align: center;
}
.main__index div .foto__index {
  padding-left: 10px;
  width: 450px;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #132c7c;
  height: 20vh;
  font-family: Poppins;
  justify-content: space-between;
  align-items: center;
}
footer .ubicacion {
  color: #ffffff;
  margin-left: 3rem;
}
footer ul .redes {
  list-style-type: none;
  margin-right: 4rem;
  padding: 0;
  text-align: right;
}
footer ul .redes a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 0.5rem;
}
footer ul .redes a:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
}

.main__quienes-somos .h2-quienes-somos {
  font-family: Poppins;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: start;
  margin-left: 2%;
}
.main__quienes-somos .comision-contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.main__quienes-somos .comision-contenedor .cd-texto-div {
  box-sizing: border-box;
  margin-left: 2%;
}
.main__quienes-somos .comision-contenedor .cd-texto-div .comision-directiva-texto {
  font-family: Poppins;
}
.main__quienes-somos .comision-contenedor .foto-comision {
  box-sizing: border-box;
}
.main__quienes-somos .comision-contenedor .foto-comision img {
  width: 400px;
  margin: 5px;
}

.main__actividades .h2__actividades {
  font-family: Poppins;
  text-align: center;
}
.main__actividades .actividades__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__actividades .accordion {
  position: relative;
  left: -5%;
  width: 40%;
  margin: 5%;
}
.main__actividades .seccion__carousel-actividades {
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}
.main__actividades .btn {
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
  justify-content: center;
  width: 200px;
}

.main__alquileres .cards__alquileres {
  display: flex;
  margin-bottom: 5%;
  align-items: flex-start;
  justify-content: space-evenly;
}
.main__alquileres .cards__alquileres .card {
  align-items: center;
  box-sizing: border-box;
}
.main__alquileres .cards__alquileres .card .card-body .card-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.main__alquileres .cards__alquileres .card .card-body .card-title .card-text {
  font-family: Poppins;
  text-align: justify;
  padding-left: 1rem;
}
.main__alquileres .cards__alquileres .card .card-body .boton-card {
  text-align: center;
}

.main__fotos .Fotos-h2 {
  text-align: center;
  font-family: Poppins;
}
.main__fotos #carouselExampleCaptions {
  width: 600px;
  height: 400px;
  position: relative;
  margin: auto;
  padding: 5px;
}
.main__fotos #carouselExampleCaptions img {
  width: 600px;
  height: 400px;
  padding: 15px;
}
.main__fotos #carouselExampleCaptions p {
  color: rgba(1, 18, 94, 0.8549019608);
  background-color: rgba(255, 255, 255, 0.2862745098);
  font-weight: bold;
  font-family: Poppins;
}

.main__contacto .contacto__h2 {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  flex-wrap: wrap;
}
.main__contacto .contacto__h2 .contacto-h2-1 {
  font-family: Poppins;
  text-align: left;
}
.main__contacto .contacto__h2 .contacto-h2-2 {
  font-family: Poppins;
}
.main__contacto .texto-form-superior {
  font-family: Poppins;
}
.main__contacto .contenedor__contactomapa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.main__contacto .contenedor__contactomapa .form {
  margin-left: 5%;
}
.main__contacto .contenedor__contactomapa .form p {
  text-align: left;
  padding-left: 2px;
}

@media only screen and (max-width: 480px) {
  .body {
    background-color: rgba(83, 83, 90, 0.5215686275);
  }
  /*Header*/
  .menu__columna1 {
    display: flex;
    flex-direction: column;
  }
  .menu__columna2 {
    display: flex;
    flex-direction: column;
  }
  /*Inicio*/
  .h2__index {
    font-size: 1rem;
  }
  /*Quienes somos*/
  .h2-quienes-somos h2 {
    font-size: 1rem;
    margin-left: 2%;
  }
  .comision-contenedor {
    flex-wrap: wrap;
    justify-content: center;
  }
  .comision-contenedor .cd-texto-div {
    width: 450px;
  }
  .comision-contenedor .cd-texto-div .comision-directiva-texto {
    font-size: 0.7rem;
  }
  .comision-contenedor .foto-comision img {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 200px;
  }
  /*Actividades*/
  .h2__actividades {
    font-size: 1rem;
  }
  .actividades__contenedor h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  .actividades__contenedor ul {
    font-size: 0.7rem;
  }
  .accordion {
    margin-left: 5%;
  }
  .carousel-boton .btn {
    width: 150px;
    height: 30px;
    align-items: center;
    position: relative;
    left: 60px;
    font-size: 0.7rem;
  }
  .seccion__carousel-actividades .carousel__actividades {
    width: 250px;
    left: 100px;
    bottom: 5px;
    margin: 15px;
  }
  .seccion__carousel-actividades .carousel-inner img {
    width: 250px;
  }
  /*Alquileres*/
  .cards__alquileres .card .card-body .card-title {
    font-size: 0.5rem;
  }
  .cards__alquileres .card .card-body p {
    font-size: 0.7rem;
  }
  .cards__alquileres .card .card-body ul {
    font-size: 0.7rem;
  }
  .cards__alquileres .card .card-body .boton-card {
    margin-left: 10px;
  }
  .cards__alquileres .card .card-body .boton-card a {
    font-size: 0.8rem;
  }
  /*Contacto*/
  .contacto__h2 {
    position: relative;
    flex-direction: column;
    width: 200px;
  }
  .contacto-h2-1 {
    font-size: 1rem;
    text-align: center;
    position: relative;
    left: 120px;
  }
  .form {
    margin: 0;
  }
  .contacto-h2-2 {
    font-size: 1rem;
    position: relative;
    text-align: center;
    top: 370px;
    left: 120px;
  }
  .mapa {
    position: relative;
    bottom: -40px;
    padding: 2%;
    margin: 2%;
    margin-bottom: 8%;
  }
  .mapa iframe {
    width: 200px;
    height: 200px;
  }
  /*Footer*/
  .ubicacion {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
}
@font-face {
  font-family: Poppins;
  src: url(../fuentes/Poppins-Light.ttf);
}

/*# sourceMappingURL=estilo.css.map */
