*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins;
    src: url(./fuentes/Poppins-Light.ttf);
}

/*header*/

#encabezado-azul{
    background-color: #132c7c;
    height: 20vh;
    width: 100vw;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: Poppins;
    align-content: center;
    justify-content: center;
    position: relative;
    top:-90px

}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: justify;
    color: #ffffff;
    position: relative;
    padding: 2px;
    margin-left: 100px;

}

header nav ul li a:hover{
    background-color: #ffffff44;
    border-radius: 10%;
}

/*logo del header*/
header img{
    padding: 1px;
    margin: 1px;
    margin-bottom: -10px;
    width: 150px;
}

header h1{
    font-family: Poppins;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

/*index*/
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
main h2{
    font-family: Poppins;
    font-style: normal;
    text-align: center;
}
main div img{
    padding-left: 10px;
    width: 450px;
    margin-left: 450px;
}

main div img:hover{
    transform: scale(1.2, 1.2);
}


/* Pagina Quienes somos*/

.h2-quienes-somos{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 40%;
}

.comision-contenedor{
    display: flex;
    flex: wrap;
    align-items: start;
    }


.comision-directiva-texto{
    position: relative;
    top: 30%;
    left: 50%;
}


.foto-comision{
    position: relative;
    top: 10%;
    right: 60%;
    bottom: 10%;
}



/*Pagina Actividades*/

h3{
    font-family: Poppins;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.actividades__contenedor{
    margin-left: 5%;
    margin-top: 5%;

}

.actividad-futbol-masculino li{
    font-family: Poppins;
    list-style-type: circle;
    list-style-position: inside;
}
.actividad-futbol-fem{
    font-family: Poppins;
    list-style-type: circle;
    list-style-position: inside;
}
.actividad-entrenamiento-fisico{
    font-family: Poppins;
    list-style-type: circle;
    list-style-position: inside;
}

.btn{
    margin-left: 70%;
    margin-bottom: 3%;
}

#carouselExampleIndicators{
    margin-left: 260px;
}
.carousel{
    margin-top: -25%;
    margin-left: 25%;
    margin-bottom: 2%;
}



/*Pagina de Alquileres*/

.alquileres-h2{
    text-align: left;
    padding-left: 1rem;
    margin-top: 10px;
}
p{
    font-family: Poppins;
    text-align: justify;
    padding-left: 1rem;
}
a{
    font-family: Poppins;
    padding-left: 1rem;
}

.boton-card{
    margin-left: -50%;
}


.cards__alquileres{
    display: flex;
    margin-bottom: 5%;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card-title{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}


/*Pagina de fotos*/


.header { grid-area: header; }
  
  .foto-1-salon { grid-area: foto-1-salon; }
  
  .foto-2-salon { grid-area: foto-2-salon; }
  
  .foto-3-salon { grid-area: foto-3-salon; }
  
  .foto-1-cancha { grid-area: foto-1-cancha; }
  
  .foto-2-cancha { grid-area: foto-2-cancha; }
  
  .foto-3-cancha { grid-area: foto-3-cancha; }
  
  .foto-1-quincho { grid-area: foto-1-quincho; }
  
  .foto-2-quincho { grid-area: foto-2-quincho; }
  
  .foto-3-quincho { grid-area: foto-3-quincho; }
  
  .footer { grid-area: footer; }

  .body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "foto-1-salon foto-2-salon foto-3-salon"
      "foto-1-cancha foto-2-cancha foto-3-cancha"
      "foto-1-quincho foto-2-quincho foto-3-quincho"
      "footer footer footer";
  }


  .fotos-cancha{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

.fotos-salon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.fotos-salon img{
    display: inline-block;
    margin: 0px;
    margin-left: 50px;
    border-radius: 10%;
    
}

.foto-salon1{
    width: 350px;
}

.foto-salon2{
    width: 400px;
}
.foto-salon3{
    width: 350px;
}

.fotos-cancha img{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    border-radius: 10%;
    align-items: center;
}


.fotos-quincho img{
    display: inline-block;
    margin: 0px;
    margin-left: 50px;
    border-radius: 10%;
}
.foto-quincho1{
    width: 350px;
}

/*Pagina de contacto*/
.contacto-h2-1{
    font-family: Poppins;
    text-align: left;
    margin-left: 2.5rem
}
.contacto-h2-2{
    font-family: Poppins;
    position: relative;
    z-index: 1;
    top: -25rem;
    text-align: right;
    margin-right: 15rem;
}

.texto-form-superior{
    margin-left: 1.5rem;
}

.mapa{
    bottom: 350px;
    width: 30px;
}

.mapa iframe{
    position: relative;
    left: 700px;
    top: -350px;
}

.form{
margin-left: 40px;
}

form p{
    text-align: left;
    padding-left: 2px;
}

/*footer*/
footer{
    display: flex;
    background-color: #132c7c;
    height: 20vh;
    width: 100vw;
    font-family: Poppins;
    justify-content: space-between;
    align-items: center;
}


footer a:hover{
    background-color: #ffffff44
}
.ubicacion{
    color: #ffffff;
    margin-left: 4rem;
}
.redes{
    list-style-type: none;
    margin-right: 4rem;
    padding: 0;
    text-align: right;
}
.redes a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 0.5rem;
}



@media only screen and (max-width:500px){
    body{
        background-color: rgba(184, 186, 192, 0.411)
    }

    header img{
        width: 130px;
    }


    .menu{
        top: -100px;

    }

    .menu__columna1{
        display: flex;
        flex-direction: column;
    }

    .menu__columna2{
        display: flex;
        flex-direction: column;
    }

    main h2{
        display: flex;
        margin-left: 25%;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        text-align: center;


    }

    main div img{
        margin-left: 15%;
        width: 350px;
    }

    header h1{
        font-family: Poppins;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10px;
        padding: 5px;
    }

    main div img{
        display: flex;
        padding-left: 25px;
        width: 250px;
    }

    .comision-directiva-texto{
        display: flex;
        font-size: 0.7rem;
        overflow-wrap: break-word;
        justify-content: start;
    }

    .footer{
        justify-content: space-around;
    }

    .ubicacion{
        color: #ffffff;
        font-size: 0.8rem;
        margin-left: 0;
    }
    .redes{
        margin-right: 1rem;
    }
    .redes a{
        color: #ffffff;
        text-decoration: none;
    }

    .actividades__contenedor{
        font-size: 0.7rem;
    }

    .actividades__contenedor h3{
        font-size: 1rem;
    }

    .carousel{
        margin-top: -55%;
        margin-left: 25%;
        margin-bottom: 2%;
    }

    a.btn.btn-primary{
        font-size: 0.7rem;
        width: 30%;
        height: 2%;
        margin-left: 70%;
    }


    
}
    
    

