.main__quienes-somos{
    .h2-quienes-somos{
        font-family: Poppins;
        margin-top: 2%;
        margin-bottom: 1%;
        text-align: start;
        margin-left: 2%;
    }
    .comision-contenedor{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        box-sizing: border-box;

        .cd-texto-div{
            box-sizing: border-box;
            margin-left: 2%;
            .comision-directiva-texto{
                font-family: Poppins;
            }
        }
        .foto-comision{
            box-sizing: border-box;
            img{
                width: 400px;
                margin: 5px;
            }
        }


    }
}