.main__index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .h2__index{
        font-family: Poppins;
        font-style: normal;
        text-align: center;
    }
    div{
        .foto__index{
            padding-left: 10px;
            width: 450px;
            &:hover{
                transform: scale(1.2, 1.2);
            }

        }
    }
}