.main__actividades{
    .h2__actividades{
        font-family: Poppins;
        text-align: center;
    }

    .actividades__contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .accordion{
            position: relative;
            left: -5%;
            width: 40%;
            margin: 5%;
        }


        .seccion__carousel-actividades{
            display: flex;
            align-items: center;
            justify-content: start;
            box-sizing: border-box;
            .carousel__actividades{
                .carousel-inner{
                    .carousel-indicators{
                        
                    }
                    
                }

            }
            
        }

    .btn{
        display: flex;
        margin-bottom: 5%;
        margin-top: 5%;
        justify-content: center;
        width: 200px;
    }
     

 
}