.main__contacto{
.contacto__h2{
    display: flex;
    justify-content: space-around;
    margin: 2%;
    flex-wrap: wrap;
    .contacto-h2-1{
        font-family: Poppins;
        text-align: left;

    }
    .contacto-h2-2{
        font-family: Poppins;

    }
    
}


    .texto-form-superior{
        font-family: Poppins;

    }

    .contenedor__contactomapa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        .form{
            margin-left: 5%;
            p{
                text-align: left;
                padding-left: 2px;
            }
    
        }
    }


}