@media only screen and (max-width:480px){
    .body{
        background-color: $bg-color-mobile;
    }

    /*Header*/
    .menu__columna1{
        display: flex;
        flex-direction: column;
        
    }

    .menu__columna2{
        display: flex;
        flex-direction: column;
    }

    /*Inicio*/
    .h2__index{
        font-size: 1rem;
    }


    /*Quienes somos*/

    .h2-quienes-somos{
        h2{
            font-size: 1rem;
            margin-left: 2%;
        }
    }

    .comision-contenedor{
        flex-wrap: wrap;
        justify-content: center;
        .cd-texto-div{
            width: 450px;
            .comision-directiva-texto{
                font-size: 0.7rem;
            }
        }
        .foto-comision{
            img{
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                width: 200px;
            }
        }
    }

    /*Actividades*/

    .h2__actividades{
        font-size: 1rem;
    }
    
    .actividades__contenedor{
        h3{
            font-size: 1rem;
            font-weight: bold;
        }
        ul{
            font-size: 0.7rem;
        }
    }
    .accordion{
        margin-left: 5%;
    }


    .carousel-boton{
        .btn{
            width: 150px;
            height: 30px;
            align-items: center;
            position: relative;
            left: 60px;
            font-size: 0.7rem;
        }
    }

    .seccion__carousel-actividades{
        .carousel__actividades{
            width: 250px;
            left: 100px;
            bottom: 5px;
            margin: 15px;
        }
        .carousel-inner{
            img{
                width: 250px;
            }
        }
    }

    /*Alquileres*/
    .cards__alquileres{
        .card{
            .card-body{
                .card-title{
                    font-size: 0.5rem;
                }
                p{
                    font-size: 0.7rem;
                }
                ul{
                    font-size: 0.7rem;
                }
                .boton-card{
                    margin-left: 10px;
                    a{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    /*Contacto*/
    
    .contacto__h2{
        position: relative;
        flex-direction: column;
        width: 200px;
    }
    .contacto-h2-1{
        font-size: 1rem;
        text-align: center;
        position: relative;
        left: 120px;
    }

    .form{
        margin: 0;
    }

    .contacto-h2-2{
        font-size: 1rem;
        position: relative;
        text-align: center;
        top: 370px;
        left: 120px;
    }


        .mapa{
            position: relative;
            bottom: -40px;
            padding: 2%;
            margin: 2%;
            margin-bottom: 8%;
            iframe{
                width: 200px;
                height: 200px;     
            }
    
        }



    /*Footer*/
    
    .ubicacion{
        font-size: 0.8rem;
        margin-left: 2rem;
    }






}